In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("winequality-red.csv",sep = ";")

In [5]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(data)

In [11]:
X_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]

In [9]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1394,6.4,0.57,0.14,3.9,0.070,27.0,73.0,0.99669,3.32,0.48,9.2
1228,5.1,0.42,0.00,1.8,0.044,18.0,88.0,0.99157,3.68,0.73,13.6
341,10.6,0.42,0.48,2.7,0.065,5.0,18.0,0.99720,3.21,0.87,11.3
339,12.5,0.28,0.54,2.3,0.082,12.0,29.0,0.99970,3.11,1.36,9.8
538,12.9,0.35,0.49,5.8,0.066,5.0,35.0,1.00140,3.20,0.66,12.0
...,...,...,...,...,...,...,...,...,...,...,...
817,10.8,0.29,0.42,1.6,0.084,19.0,27.0,0.99545,3.28,0.73,11.9
1398,7.0,0.60,0.12,2.2,0.083,13.0,28.0,0.99660,3.52,0.62,10.2
1159,10.2,0.41,0.43,2.2,0.110,11.0,37.0,0.99728,3.16,0.67,10.8
1104,8.0,0.48,0.34,2.2,0.073,16.0,25.0,0.99360,3.28,0.66,12.4
1035,10.1,0.37,0.34,2.4,0.085,5.0,17.0,0.99683,3.17,0.65,10.6

In [12]:
y_train

1394    5
1228    7
341     6
339     7
538     7
       ..
817     6
1398    7
1159    5
1104    6
1035    7
Name: quality, Length: 1199, dtype: int64